<!-- extend base layout -->
  
<div>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#details-{{issue.id}}">Details</a></li>
        <li><a data-toggle="tab" href="#edit-{{issue.id}}">Edit</a></li>
    </ul>

	<div class="tab-content">
       	<div id="details-{{issue.id}}" class="tab-pane fade in active">
			{% include 'issue_details.html' %}
		</div>
		<div id="edit-{{issue.id}}" class="tab-pane fade">
			{% include 'issue_edit.html' %}
		</div>
	</div>
	
</div>

